h1{
    text-align: center;
}

.projectTb{
    display: block; 
    margin: 0px auto; 
    width: 600px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.topC{
    cursor:pointer; 
    border: 1px; 
    background-color: #46C2CB; 
    color: aliceblue; 
    width: 60px; 
    height: 35px; 
    align-items: flex-end;
    border-radius: 5px;
    text-align: center;
    display: block; 
    margin: 0px auto; 
}